<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzu.homework_easy.homework_check">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--判断程序是否在前台运行,必须 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkCheck">//WorkCheck

            <intent-filter>
                <data android:scheme="mwshow"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PassWord"></activity>
        <activity android:name=".MessageCenter"></activity>
        <activity android:name=".IncomeActivity"></activity>
        <activity android:name=".GetMoneyWayActivity"></activity>
        <activity android:name=".PersonalCenterActivity"></activity>
        <activity android:name=".WorkAnswer"></activity>
        <activity android:name=".ErrorCorrelation"></activity>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AccountManageActivity"></activity>
        <activity android:name=".SetActivity"></activity>
        <activity android:name=".MyWalletActivity"></activity>
        <activity android:name=".MyWorkActivity"></activity>
        <activity android:name=".GetMoneyActivity"></activity>
        <activity android:name=".UpdateActivity"></activity>
        <activity android:name=".MessageSetActivity"></activity>
        <activity android:name=".CameraWorkCheckActivity"></activity>
        <activity android:name=".AddBankCard"></activity>
        <activity android:name=".BaseActivity"></activity>


        <!--MW sdk ID 此处跟activity同级，需要放在Application内，MW_APPID（也就是后台的” 魔窗AppKey”）不能更改 -->
        <meta-data android:name="MW_APPID" android:value="C3WNTI6FGG17VQ7OAKPI6AGXPRJK3FQB" />
        <!--渠道名称MW_CHANNEL不能更改 -->
        <meta-data android:name="MW_CHANNEL" android:value="应用宝" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>